{{#each errors}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}
<h2>Lista de Postagens</h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Nova Postagem</button></a>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <small>Descricao: {{descricao}}</small><br>
            <small>Data: {{data}}</small><br>
            <small>Categoria: {{categoria.nome}}</small><br>
            <a href="/admin/postagens/edit/{{_id}}">
                <button class="btn btn-info mt-4">Editar postagem</button>
            </a>
            <form action="/admin/postagens/deletar/{{_id}}" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-2">Excluir postagem</button>
            </form>
        </div>
    </div>
{{else}}
    <h4 class="mt-3">Nenhuma postagem registrada</h4>
{{/each}}